:root {
  --black: #282828;
  --blue: #2892f9;
  --red: #fb2f27;
  --yellow: #fdfe29;
  --white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--white);
}

.ring {
  display: grid;
  place-items: center;
}
.ring-1 {
  width: 20rem;
  height: 20rem;
  background-color: var(--black);
  border-radius: 50%;
}

.ring-2 {
  width: 15rem;
  height: 15rem;
  background-color: var(--blue);
  border-radius: 50%;
}

.ring-3 {
  width: 10rem;
  height: 10rem;
  background-color: var(--red);
  border-radius: 50%;
}

.bullseye {
  width: 5rem;
  height: 5rem;
  background-color: var(--yellow);
  border-radius: 50%;
}
